{{ define "main" }}
<article class="sanity-content">
  {{ $currentSlug := .File.TranslationBaseName }}
  
  {{ $query := `*[_type == "post"]` }}
  {{ $url := printf "https://gukxnj2e.api.sanity.io/v2021-10-21/data/query/production?query=%s" (urlquery $query) }}
  {{ $response := resources.GetRemote $url }}
  
  {{ if $response }}
    {{ $data := $response | transform.Unmarshal }}
    
    {{ range $data.result }}
      {{ if eq .slug.current $currentSlug }}
        
        <div class="content-header">
          <h1>{{ .title }}</h1>
        </div>

        {{/* H2 havner her */}}
        <div class="content-subheader">
          {{ range .body }}
            {{ if eq .style "h2" }}
              <h2>{{ range .children }}{{ .text }}{{ end }}</h2>
            {{ end }}
          {{ end }}
        </div>

        {{/* Alt annet havner her */}}
        <div class="body-text">
          {{ range .body }}
            {{ if eq ._type "block" }}
              {{ if eq .style "h2" }}
                {{/* Vi hopper over H2 her */}}
              {{ else if eq .style "h3" }}
                <h3>{{ range .children }}{{ .text | safeHTML }}{{ end }}</h3>
              {{ else if eq .style "h4" }}
                <h4>{{ range .children }}{{ .text | safeHTML }}{{ end }}</h4>
              {{ else }}
                {{/* P, UL, LI etc */}}
                {{ if .listItem }}
                  {{ if eq .listItem "bullet" }}<ul><li>{{ else }}<ol><li>{{ end }}
                {{ else }}
                  <p>
                {{ end }}
                
                {{ $block := . }}
                {{ range .children }}
                  {{ $markKey := index .marks 0 }}
                  {{ if $markKey }}
                    {{ $link := "" }}
                    {{ range $block.markDefs }}{{ if eq ._key $markKey }}{{ $link = .href }}{{ end }}{{ end }}
                    {{ if $link }}<a href="{{ $link }}" target="_blank">{{ .text }}</a>{{ else }}<strong>{{ .text }}</strong>{{ end }}
                  {{ else }}
                    {{ .text | replaceRE "\n" "<br>" | safeHTML }}
                  {{ end }}
                {{ end }}

                {{ if .listItem }}
                  {{ if eq .listItem "bullet" }}</li></ul>{{ else }}</li></ol>{{ end }}
                {{ else }}
                  </p>
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
        </div>

      {{ end }}
    {{ end }}
  {{ else }}
    <p>Kunne ikke hente data.</p>
  {{ end }}
</article>
{{ end }}