{{ define "main" }}
<article class="sanity-content">
  {{ $currentSlug := .File.TranslationBaseName }}
  
  {{/* Hent data fra Sanity */}}
  {{ $query := `*[_type == "post"]` }}
  {{ $url := printf "https://gukxnj2e.api.sanity.io/v2021-10-21/data/query/production?query=%s" (urlquery $query) }}
  {{ $response := resources.GetRemote $url }}
  
  {{ if $response }}
    {{ $data := $response | transform.Unmarshal }}
    
    {{ range $data.result }}
      {{ if eq .slug.current $currentSlug }}
        
        <div class="content-header">
          <h1>{{ .title }}</h1>
        </div>

        <div class="body-text">
          {{ range .body }}
            {{ if eq ._type "block" }}
              
              {{/* 1. OVERSKRIFTER */}}
              {{ if eq .style "h2" }}
                <h2>{{ range .children }}{{ .text | replaceRE "(\r\n|\r|\n)" "<br>" | safeHTML }}{{ end }}</h2>
              {{ else if eq .style "h3" }}
                <h3>{{ range .children }}{{ .text | replaceRE "(\r\n|\r|\n)" "<br>" | safeHTML }}{{ end }}</h3>
              {{ else if eq .style "h4" }}
                <h4>{{ range .children }}{{ .text | replaceRE "(\r\n|\r|\n)" "<br>" | safeHTML }}{{ end }}</h4>
        
              {{/* 2. LISTER */}}
              {{ else if .listItem }}
                {{ if eq .listItem "bullet" }}<ul class="sanity-list"><li>{{ else }}<ol class="sanity-list"><li>{{ end }}
                {{ $block := . }}
                {{ range .children }}
                    {{ $formattedText := .text | replaceRE "(\r\n|\r|\n)" "<br>" | safeHTML }}
                    {{ $markKey := index .marks 0 }}
                    {{ if $markKey }}
                        {{ $link := "" }}
                        {{ range $block.markDefs }}{{ if eq ._key $markKey }}{{ $link = .href }}{{ end }}{{ end }}
                        {{ if $link }}<a href="{{ $link }}" target="_blank">{{ $formattedText }}</a>{{ else }}<strong>{{ $formattedText }}</strong>{{ end }}
                    {{ else }}
                        {{ $formattedText }}
                    {{ end }}
                {{ end }}
                {{ if eq .listItem "bullet" }}</li></ul>{{ else }}</li></ol>{{ end }}
        
              {{/* 3. VANLIG PARAGRAF */}}
              {{ else }}
                <p>
                  {{ $block := . }}
                  {{ range .children }}
                    {{ $formattedText := .text | replaceRE "(\r\n|\r|\n)" "<br>" | safeHTML }}
                    {{ $markKey := index .marks 0 }}
                    {{ if $markKey }}
                        {{ $link := "" }}
                        {{ range $block.markDefs }}{{ if eq ._key $markKey }}{{ $link = .href }}{{ end }}{{ end }}
                        {{ if $link }}<a href="{{ $link }}" target="_blank">{{ $formattedText }}</a>{{ else }}<strong>{{ $formattedText }}</strong>{{ end }}
                    {{ else }}
                        {{ $formattedText }}
                    {{ end }}
                  {{ end }}
                </p>
              {{ end }}
        
            {{ end }}
          {{ end }}
        </div>

      {{ end }}
    {{ end }}

  {{ else }}
    <p>Beklager, kunne ikke hente innholdet fra Sanity akkurat nå.</p>
  {{ end }}
</article>
{{ end }}